DATABASE_URL=
PORT=


MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_PORT=
MINIO_ENDPOINT=
BUCKET_NAME=

JWT_SECRET=
# use this token to bypass otp verification during development without sms provider
BYPASS_TOKEN=
FIREBASE_SERVICE_ACCOUNT_PATH=firebase-adminsdk-fbsvc-33c926a38f.json